<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/main.css')}}"
    />
    <script src="main.js"></script>
  </head>
  <body>
    <h1 class="styled">IFC File Reader</h1>
    <p><span style="font-size: large">HELLO WORLD!</span></p>
    <form method="POST" action="http://localhost:5000/result">
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
